@import "base.css";
#header{
    width: 100%;
    height: 1.28rem;
    /*background: #333333;*/
    background-image: linear-gradient(to left,rgba(243,163,175,0.98),
    rgba(155,164,235,0.98));
}
/*.topBar:before{
    content: "";
    display: block;
    width: 0.42rem;
}*/
.container{
    width: 7.04rem;
    height: 100%;
    min-height: 1px;
    margin: 0 auto;
}
.topBar{
    width: 100%;
    height: 0.88rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.top{
    width: 100%;
    height: 0.4rem;
    /*background: #2e6da4;*/
}
.top img{
    width: 100%;
    height: 0.4rem;
}
.searchBox{
    width: 4.5rem;
    height: 0.6rem;
    background: rgba(255,255,255,0.5);
    border: 2px solid #fff;
    border-radius: 0.35rem;
    margin-left: 1.95rem;
}
.addBox{
    width: 0.58rem;
    height: 0.58rem;
    border-radius: 50%;
    /*margin-left: 0.23rem;*/
}
.addBox img{
    width: 0.58rem;
    height: 0.58rem;
    border-radius: 50%;
}
.search{
    width: 0.35rem;
    height: 0.35rem;
    line-height: 0.35rem;
    margin-top: 0.12rem;
    margin-left: 1.5rem;
    /*background: #2e6da4;*/
    float: left;
    font-family: "iconfont";

}
.input{
    width: 1.9rem;
    height: 0.27rem;
    /*background: #4cae4c;*/
    float: left;
    border: none;
    background: none;
    color: #fff;
    margin-top: 0.16rem;
    margin-left: 0.4rem;
}

/*top*/

#banner{
    width: 7.5rem;
    height: 3.76rem;
    /*background: red ;*/
    margin-top: 0.4rem ;
    position: relative;
}
#imageBox{
    width: 7.04rem;
    height: 3.76rem;
    /*background: #2e6da4;*/
    border-radius: 0.2rem;
    margin: auto;
    position: relative;
}
#imageBox li{
    width: 7.04rem;
    height: 3.76rem;
    /*border-radius: 0.2rem;*/
    /*background: #5bc0de;*/
    position: absolute;
    left: 0;
    top: 0;
}
.bannerItem{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerItem img{
    width: 100%;
    height: 100%;
    background: white;
}
#imageBox li.active{
    z-index: 1;
}
#pageBox{
    width: 1.12rem;
    height: 0.14rem;
    /*background: #985f0d;*/
    margin-top: 0.28rem;
    margin-right: 0.63rem;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    top: 0.26rem;
    right: 0.63rem;
}
#pageBox li{
    width: 0.14rem;
    height: 0.14rem;
    border-radius: 50%;
    background: #fff;
}
#pageBox li.active{
    background: #2e6da4;

}
#category{
    width: 6.73rem;
    height: 3.96rem;
    /*background: red;*/
    margin: 0.41rem auto 0;
    /*display: block;*/
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;

}
.categoryBox{
    display: block;
    width: 1.47rem;
    height: 1.98rem;
    /*background: #5bc0de;*/
}
.categoryBox img{
    /*display: block;*/
    width: 1.47rem;
    height: 1.47rem;
    /*background: #2e6da4;*/
}
.categoryBox p{
    width: 1.47rem;
    height: 0.24rem;
    line-height: 0.24rem;
    font-size: 0.24rem;
    margin-top: 0.11rem;
    text-align: center;
}
/*nav*/
.recommend1{
    width: 2.17rem;
    height: 0.61rem;
    margin-top: 0.1rem;
    background-image: linear-gradient(-69deg,rgba(243,163,175,0.98),
    rgba(155,164,235,0.98));
    border-radius: 0 0.5rem 0.5rem 0;
}
.recommend1 p{
    text-align: center;
    font-size: 0.4rem;
    color: #fff;
}
.recommendItem{
    width: 7.04rem;
    height: 2.13rem;
    /*background: #2e6da4;*/
    display: flex;
    justify-content: space-around;
    margin: 0.42rem 0.23rem;
}
.recommendItem li{
    width: 3.07rem;
    height: 2.13rem;
    background: #e4e6f7;
    border-radius: 0.2rem;
    box-shadow: 0 0.05rem 0.08rem #8d8d8d;
}
.recommendItem li p{
    display: block;
    float: left;
    width: 0.97rem;
    height: 0.24rem;
    margin-top: 0.22rem;
    margin-left: 0.18rem;
    font-size: 0.24rem;
    color: #333;
}
.recommendItem li img{
    float: right;
    margin-top: 0.25rem;
    margin-right: 0.15rem;
    width: 1.64rem;
    height: 1.64rem;
    border-radius: 50%;
}

/*recommend*/
.recommend2{
    width: 100%;
    margin-top: 2.8rem;
    margin-bottom: 1.4rem;

}
.recommend2 .buy{
    width: 2.17rem;
    height: 0.61rem;
    text-align: center;
    line-height: 0.61rem;
    font-size: 0.4rem;
    background-image: linear-gradient(-69deg,rgba(243,163,175,0.98),
    rgba(155,164,235,0.98));
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
}
.recommend2Item1{
    width: 7.04rem;
    height: 0.32rem;
    /*background: #2e6da4;*/
    display: flex;
    justify-content: space-around;
    margin: 0.42rem 0.23rem;
}
.recommend2Item1 li{
    text-align: center;
    width: 1.17rem;
    height: 0.32rem;
    border: 0.01rem solid rgba(237,165,180,0.83);
    background: rgba(157,166,235,0.08);
    border-radius: 0.2rem;
    box-shadow: 0 0.05rem 0.08rem #8d8d8d;
}
.recommend2Item2{
    width: 7.04rem;
    height: 7.87rem;
    margin: 0 0.23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recommend2Item2 .rec2 {
    position: relative;
    width: 100%;
    height: 2.3rem;
    border-radius: 0.1rem;
    background: #ffffff;
    margin-top: 0.1rem;
    box-shadow: 0 0.06rem 0.01rem 0.05rem rgba(176, 176, 176, 0.57);

}
.recommend2Item2 a img{
    width: 3.07rem;
    height: 2.13rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 0.12rem;
    left: 0.12rem;
    box-shadow: 0 0.02rem 0.02rem rgba(0,0,0,0.37);
}
.recommend2Item2 a{
    display: block;
    width: 100%;
    height: 100%;
}
.recommend2Item2 .r2right{
    margin-top: 0.13rem;
    width: 3.61rem;
    height: 2.13rem;
    float: right;
}
.recommend2Item2 .r2right li{
    width: 100%;
    height: 0.53rem;
}
.recommend2Item2 .r2right li h2{
    font-size: 0.3rem;
    color: rgba(0,0,0,0.9);
}
.recommend2Item2 .r2right li p{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0.53rem;
    font-size: 0.18rem;
    color: rgba(0,0,0,0.7);
}
.recommend2Item2 .r2right li span{
    display: inline-block;
    width: 0.87rem;
    height: 0.24rem;
    font-size: 0.18rem;
    line-height: 0.24rem;
    text-align: center;
    border-radius: 0.12rem;
    color: rgba(0,0,0,0.8);
    border: 0.01rem solid rgba(237,165,180,0.83);
}
.recommend2Item2 .r2right li b{
    color: rgba(0,0,0,0.8);
}
.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1rem;
    margin-top: 10rem;
    background: #ffffff;
    box-shadow: 0 0.02rem 0.2rem 0.02rem #bcbcbc;
}
.footContainer{
    width: 7.04rem;
    height: 100%;
    min-height: 1px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footBox{
    display: block;
    width: 0.55rem;
    height: 0.8rem;
    margin-top: 0.08rem;
}
.footBox img{
    /*display: block;*/
    width: 0.55rem;
    height: 0.55rem;
}
.footBox p{
    display: block;
    width: 0.55rem;
    height: 0.18rem;
    margin-top: 0.01rem;
    font-size: 0.18rem;
    text-align: center;
}